.carousel-container {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 1fr 1rem;
  column-gap: 30px;
  row-gap: 15px;
  place-items: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}
.carousel-container .prev-button,
.carousel-container .next-button {
  all: unset;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--yellow);
  border-radius: 50%;
  cursor: pointer;
}
.carousel-container .prev-button {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/chevron_left/v16/24px.svg');
}
.carousel-container .next-button {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/chevron_right/v16/24px.svg');
}
.carousel-container .carousel-inner {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  min-height: 200px;
  border-radius: 5px;
  overflow: hidden;
}
.carousel-container .carousel-inner .slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px 30px;
  transition: 0.5s ease transform, 0.5s ease opacity;
  overflow: hidden;
}
.carousel-container .carousel-inner .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.carousel-container .carousel-inner .slide figcaption {
  position: absolute;
  bottom: 7px;
  padding: 2px 10px 3px;
  color: white;
  font-size: 0.8rem;
  background-color: #000b;
  border-radius: 3px;
}
.carousel-container .carousel-indicators {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 7px;
  width: 100%;
  height: 100%;
}
.carousel-container .carousel-indicators button {
  all: unset;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #8884;
  border-radius: 50%;
  transition: 0.2s ease background-color;
  cursor: pointer;
}
.carousel-container .carousel-indicators button.active {
  background-color: var(--yellow);
}
