ul.demo-nav {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 0;
  border-bottom: 1px solid var(--gray-l);
  list-style-type: none;
}
ul.demo-nav li {
  border: 0;
  width: auto;
  margin-right: 1em;
  padding: 0;
}

ul.demo-nav li a {
  text-decoration-color: var(--yellow);
  color: black;
}
