ul.dropdown-demo {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
ul.dropdown-demo > li {
  box-sizing: border-box;
  width: 33.3333%;
  border: 1px solid var(--gray-l);
  border-width: 0 1px 1px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  height: 2em;
  min-width: 150px;
  position: relative;
}

ul.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--gray-l);
  border-radius: .33em;
  overflow: hidden;
  background-color: white;
}

ul.dropdown-list::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: .25em solid transparent;
  position: absolute;
  right: .75em;
  border-top-color: var(--gray-l);
  top: calc(50% - .05em);
}

ul.dropdown-list > li {
  height: 2rem;
  padding: 0 1em;
  display: flex;
  align-items: center;
  font-size: .875em;
  display: none;
}
ul.dropdown-list > li[data-selected] {
  display: flex;
}
ul.dropdown-list > li[data-selected]:hover {
  background-color: transparent;
}
ul.dropdown-list[data-is-open] > li {
  display: flex;
}
ul.dropdown-list > li:hover {
  background-color: var(--yellow);
}
