.container {
  display: flex;
  flex-flow: row nowrap;
  margin: 50px auto;
  width: 95%;
  max-width: 600px;
  padding-left: 2px;
  color: var(--dark-d);
  border: 1px solid #8888;
}
.tabs {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 12ch;
  height: 0%;
  font-size: 1rem;
}
.tabs button {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 3px;
  text-align: center;
  opacity: 0.9;
  transition: 0.1s ease opacity;
  cursor: pointer;
}
.tabs button:hover {
  background-color: #8882;
}
.tabs button.active {
  opacity: 1;
}
.tabs button .icon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
}
.tabs button p {
  margin: 0px;
  user-select: none;
}
.tabs .tab-indicator {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 3px;
  background-color: var(--yellow);
  border-radius: 3px 0px 0px 3px;
  transition: 0.2s ease top, 0.2s ease height;
}
.tab-panels {
  display: block;
  width: 100%;
  min-height: 400px;
  padding: 10px;
  border-left: 1px solid #8888;
}
.tab-panels .panel {
  display: block;
  width: 100%;
  height: 100%;
  animation: animateTabPanelIn 0.2s ease forwards;
}
@keyframes animateTabPanelIn {
  0%   {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.tab-panels .panel h4 {
  margin-top: 0px;
}
.tab-panels .panel time {
  padding: 1px 5px 2px;
  font-family: monospace;
  background-color: #8882;
  border-radius: 3px;
}
.tab-panels .panel .email {
  all: unset;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 10px 3px;
  border: 1px solid #8884;
  border-radius: 3px;
}
.tab-panels .panel .email span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 7px;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/mail/v16/24px.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(0.15em);
}
