.build/
test/
public/
docs/*
docs/.*
docs/img/*
docs/img/logo.png
!docs/img/logo.png
!docs/img/logo-invert.png
coverage/
build/
coverage/
src/
.vscode
.github
.editorconfig
.eslintrc
.prettierignore
.prettierrc.json
jest.config.cjs
tsconfig.json
rollup.config.ts
