.the-home-hero h1::before,
.the-home-hero h1::after,
.the-home-hero h2::before,
.the-home-hero h2::after {
  display: none;
}

.the-home-hero {
  text-align: center;
  height: 75vh;
  max-height: 500px;
  margin-bottom: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.the-home-hero h1 {
  display: block;
  white-space: inherit;
  font-size: 2.5em;
  max-width: 600px;
  line-height: 1.1;
  margin-bottom: 0.25em;
  font-weight: 900;
  margin: 0 auto 0.25em auto;
}

@media (min-width: 500px) {
  .the-home-hero h1 {
    font-size: 4em;
  }
}

.the-home-hero h2 {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 500px) {
  .the-home-hero h2 {
    font-size: 1.5em;
  }
}

.the-home-hero em {
  color: var(--yellow);
  font-weight: 400;
  font-style: normal;
}

.why-arrow {
  scroll-margin-top: 5vh;
}

section {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1em;
}

@media (min-width: 500px) {
  section {
    font-size: 1.25em;
  }
}

section li {
  font-weight: 500;
}

section a {
  color: var(--yellow);
  text-decoration: underline;
}

section h2 {
  margin-top: 3em;
}

section h3 {
  margin-top: 2em;;
}

.manifesto {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4em;
  position: relative;
}

@media (min-width: 500px) {
  .manifesto {
    font-size: 1.75em;
  }
}

.manifesto em {
  font-weight: 700;
  color: var(--yellow);
}