/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+js-extras+json+js-templates+shell-session */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	/* background: hsla(0, 0%, 100%, .5); */
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*
  For dark themed code blocks.
*/
/**
 * Coldark Theme for Prism.js
 * Theme variation: Dark
 * @author Armand Philippot <contact@armandphilippot.com>
 * @homepage https://github.com/ArmandPhilippot/coldark-prism
 * @license MIT
 */

 [theme="dark"] code[class*="language-"],
 [theme="dark"] pre[class*="language-"] {
   color: #e3eaf2;
   text-shadow: 0 1px black;
 }

 [theme="dark"] :is(pre[class*="language-"]::-moz-selection,
   pre[class*="language-"] ::-moz-selection,
   code[class*="language-"]::-moz-selection,
   code[class*="language-"] ::-moz-selection) {
   background: #3c526d;
 }

 [theme="dark"] :is(pre[class*="language-"]::selection,
   pre[class*="language-"] ::selection,
   code[class*="language-"]::selection,
   code[class*="language-"] ::selection) {
   background: #3c526d;
 }

 [theme="dark"] :not(pre)>code[class*="language-"],
 [theme="dark"] pre[class*="language-"] {
   /* background: #1e1e1e;
      */
   background: #161618;
 }

 [theme="dark"] :is(.token.comment,
   .token.prolog,
   .token.doctype,
   .token.cdata) {
   color: #8da1b9;
 }

 [theme="dark"] .token.punctuation {
   color: #e3eaf2;
 }

 [theme="dark"] :is(.token.delimiter.important,
   .token.selector .parent,
   .token.tag,
   .token.tag .token.punctuation) {
   color: #66cccc;
 }

 [theme="dark"] :is(.token.attr-name,
   .token.boolean,
   .token.boolean.important,
   .token.number,
   .token.constant,
   .token.selector .token.attribute) {
   color: #e6d37a;
 }

 [theme="dark"] :is(.token.class-name,
   .token.key,
   .token.parameter,
   .token.property,
   .token.property-access,
   .token.variable) {
   color: #6cb8e6;
 }

 [theme="dark"] :is(.token.attr-value,
   .token.inserted,
   .token.color,
   .token.selector .token.value,
   .token.string,
   .token.string .token.url-link) {
   color: #91d076;
 }

 [theme="dark"] :is(.token.builtin,
   .token.keyword-array,
   .token.package,
   .token.regex) {
   color: #f4adf4;
 }

 [theme="dark"] :is(.token.function,
   .token.selector .token.class,
   .token.selector .token.id) {
   color: #c699e3;
 }

 [theme="dark"] :is(.token.atrule .token.rule,
   .token.combinator,
   .token.keyword,
   .token.operator,
   .token.pseudo-class,
   .token.pseudo-element,
   .token.selector,
   .token.unit) {
   color: #e9ae7e;
 }

 [theme="dark"] :is(.token.deleted,
   .token.important) {
   color: #cd6660;
 }

 [theme="dark"] :is(.token.keyword-this,
   .token.this) {
   color: #6cb8e6;
 }

 [theme="dark"] :is(.token.important,
   .token.keyword-this,
   .token.this,
   .token.bold) {
   font-weight: bold;
 }

 [theme="dark"] .token.delimiter.important {
   font-weight: inherit;
 }
