body {
  font-family: sans-serif;
}

.benchmark-panel {
  position: fixed;
  top: 1em;
  right: 1em;
  background-color: rgba(75, 75, 75, .1);
  padding: 1em;
  border-radius: .25em;
}

.results {
  margin-top: 1em;
  font-weight: bold;
  font-family: monospace;
}
